#projects {
    /* height: 200vh; */
    background-color: #161616;
   
}
#upIcon {
    width: 45px;
    height: 45px;
    background-color: rgba(252, 252, 252, 0.153);
    border-radius: 5px;
    z-index: 1;
    position: sticky;
    display: block;
    top: 0;
}

.projectPic {
    width: 275px;
    height: 200px;
    border-radius: 5px;
    /* border: 1px solid #83CD29; */
} 

.contgrid {
    display: grid;
    grid-column: 275px;
    grid-gap: 25px;
    width: 275px;
    margin: 0 auto;   
}

.project-description{
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 175px;
  
}

.project-name{
   color: red;
   display: flex;
   padding: 10px;
   justify-content: center;
}

.live-site {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #61DBFB;
  font-weight: 700;
}

.colorizer {
    color: #F0DB4F;
}

.ns {
    color: #E54D26;
}

.techs {
    color: #83CD29;
    font-size: .75rem;
    display: flex;
    justify-content: center;
}

.techs > span {
    color: white;
    display: block;
    padding: 0 4px;
}

@media (min-width: 700px) {
    #projects {
        /* height: 100vh; */
        background-color: #161616;
       
    }
    
    .projectPic {
        width: 275px;
        height: 200px;
    } 
    
    .contgrid {
        display: grid;
        grid-template-columns: repeat(2, 275px);
        grid-gap: 50px;
        width: 600px;
    }
}


@media (min-width: 1024px) {
    #projects {
        height: 100vh;
        background-color: #161616;
       
    }
    
    .projectPic {
        width: 350px;
        height: 230px;
    } 
    
    .contgrid {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        width: 750px;  
    }
}
