.landing {
    background-color: #161616;
    min-height: 60vh;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;

}

.mainText {
    max-width: 300px;
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
    text-align: left;
    padding-left: 30px;
    line-height: 1.2;
}

.title {
    color: #373737;
    letter-spacing: .1rem;
}

.bold {
    font-weight: 700;
}


@media (min-width: 700px) {
    .landing {
        min-height: 80vh;
        font-size: 4.5rem;
    }
    
    .mainText {
        max-width: 800px;
        line-height: 1.1;
        padding-left: 50px;
        margin-top: 150px;
    }
  
}

@media (min-width: 1024px) {
    .landing {
        font-size: 5.7rem;
    }
  
}

