.landing {
    background-color: #161616;
    height: 100vh;
    /* text-align: center; */
}

.mainText {
    max-width: 300px;
    font-family: 'Lato', sans-serif;
    padding: 175px 0 0 30px;
    text-align: left;
    line-height: 1.2;
    font-size: 2rem;
    text-transform: uppercase;
}

.title {
    color: #373737;
    letter-spacing: .1rem;
}

.bold {
    font-weight: 700;
}


@media (min-width: 700px) {
    .landing {
        min-height: 90vh;
    }
    
    .mainText {
        max-width: 800px;
        line-height: 1.1;
        padding: 150px 0 0 50px;
        font-size: 4rem;
    }
  
}

@media (min-width: 1024px) {
    .mainText {
        font-size: 4.5rem;
    }
  
}

