.landing {
    background-color: #161616;
    min-height: 60vh;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.mainText {
    max-width: 300px;
    font-family: 'Lato', sans-serif;
    margin-top: 80px;
    letter-spacing: .2rem;
    text-align: left;
    padding-left: 50px;
    line-height: 1.2;
}

.title {
    color: #373737;
}

.bold {
    font-weight: 700;
}


@media (min-width: 768px) {
    .landing {
        min-height: 80vh;
        font-size: 5.7rem;
    }
    
    .mainText {
        max-width: 800px;
        line-height: 1.1;
    }
  
}

