#skills{
    width: 100vw;
    /* height: 90vh; */
    
}

#skillSection {
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.skillSet {
    font-size: 3.5rem;
}

.sec {
   display: flex;
   justify-content: space-evenly;
   width: 350px;
   height: 150px;
}


.headings {
    font-size: 1.3rem;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
}

.fcgrey {
    color: #373737;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
  }


  @media (min-width: 700px) {
    
    .skillSet {
        font-size: 5rem;
    }
    
    .sec {
       width: 700px;
       height: 200px;
    }
    /* #skills{
        width: 100vw;
        height: 100vh;
        
    }
     */
    
}

@media (min-width: 1024px) {
    
    .skillSet {
        font-size: 6rem;
    }
    
    .sec {
       width: 800px;
       height: 200px;
    }

}