#skills{
    width: 100vw;
}

#skillSection {
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.skillSet {
    font-size: 6.5rem;
}

.sec {
   display: flex;
   justify-content: space-evenly;
   width: 800px;
   height: 200px;
}


.headings {
    font-size: 2.5rem;
    padding: 50px;
    text-align: center;
}

.fcgrey {
    color: #373737;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
  }

