#about {
    /* height: 80vh; */
    background-color: #161616;
}

.aboutContainer {
    padding: 25px;
    font-size: .85rem;
}

.connect {
    padding-top: 50px;
    text-align: center;
}

.para {
    line-height: 1.2;
}

#resume-container {
    padding-bottom: 20px;
    cursor: pointer;
}

#resume {
    /* width: 50px; */
    border: 1px solid white;
    border-radius: 5px;
    background-color: #83CD29;
    padding: 5px 15px;
    color: white;
    
}

#resume:active {
    box-shadow: 0 3px white;
    transform: translateY(3px);
}


@media (min-width: 700px) {
    
    .aboutContainer {
        padding: 50px;
        font-size: .85rem;
    }

}

@media (min-width: 1024px) {
    /* #about {
        height: 80vh;
    } */
    .aboutContainer {
        padding: 50px;
        font-size: 1.2rem;
    }
}
