#about {
    /* height: 80vh; */
    background-color: #161616;
}

.aboutContainer {
    padding: 25px;
    font-size: .85rem;
}

.connect {
    padding-top: 50px;
    text-align: center;
}

.para {
    line-height: 1.2;
}

@media (min-width: 700px) {
    
    .aboutContainer {
        padding: 50px;
        font-size: .85rem;
    }

}

@media (min-width: 1024px) {
    /* #about {
        height: 80vh;
    } */
    .aboutContainer {
        padding: 50px;
        font-size: 1.2rem;
    }
}
