#footer {
    padding: 40px;
    text-align: center;
    height: 5vh;
}

#year {
    color: #373737;
}

/* #upIcon {
    width: 45px;
    height: 45px;
    background-color: rgba(252, 252, 252, 0.153);
    border-radius: 5px;
    z-index: 1042;
} */