
#nav {     
    display: flex;
    padding: 5em 0 0 1.3em;
    cursor: pointer;
    max-width: 1000px;
    margin: 0 auto;
}



.nav-link:hover {
    color: #E54D26;
}
    

/* @media (min-width: 700px){
    #nav{
        padding: 50px 0 0 40px;
    }
}
@media (min-width: 1024px){

#heading {
    background-color: #161616;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    height: 85px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#nav {     
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0 40px;
    align-items: flex-end;
 
}


.menu {
    color: white;
    display: inline-block;
    margin-left: 15px;
}
} */